a {
    text-decoration: none !important;
    color: white!important;
}

a:hover,
a:active {
    color: lightgray!important;
}

.nav-caption {
    display: inline-block!important;
    padding-left: 6px!important;
}