@import "./../../../../css/variables.scss";
:host {
    display: contents;
}

.basic-container {
    display: inline-block;
    position: relative;
}

i {
    color: $color-grey-icon;
    // max-width: 100%;
    position: absolute;
    // max-height: 100%;
    top: 0;
    // bottom: 0;
    text-align: center;
    // margin: auto;
    height: 100%;
    width: 100%;
}