<svg
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  viewBox="0 0 12 12">
  <path
    style="stroke:currentColor;stroke-width:1px;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
    d="M 0.50513133,11.494869 11.494869,0.50513133" />
  <path
    style="stroke:currentColor;stroke-width:1px;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;shape-rendering:geometricPrecision"
    d="M 11.494869,11.494869 0.5051313,0.50513122" />
</svg>
