<div class="article-page">
    <div class="container page">

        <div class="row article-content">
            <div class="col-md-9">

                <mat-card style="margin-bottom: 60px;">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <a [routerLink]="['/profile', article.author.username]">
                                <div *ngIf="article.author.image!= null">
                                    <img class="user-pic" width="40" height="40" [src]="article.author.image" />
                                </div>

                                <div *ngIf="article.author.image== null">
                                    <ngx-avatar size="40" [name]="article.author.username"></ngx-avatar>
                                </div>

                            </a>
                        </div>
                        <mat-card-title>{{ article.title }}</mat-card-title>
                        <mat-card-subtitle>
                            <a class="author" [routerLink]="['/profile', article.author.username]">
                      {{ article.author.username }}
                      </a>
                        </mat-card-subtitle>

                        <mat-card-subtitle> {{ article.createdAt | date: 'longDate' }}</mat-card-subtitle>

                        <mat-card-subtitle *ngIf="article.type=='0'">
                          <i class="fas fa-file-pdf" [ngClass]="{disabled: isPDFDownloading}" (click)="downloadPDF()"></i>
                        </mat-card-subtitle>

                        <mat-card-subtitle>

                            <span [hidden]="!canModify">
                          <a class="btn btn-sm btn-outline-secondary"
                             [routerLink]="['/editor', article.slug]">
                            <i class="ion-edit"></i> Edit Article
                          </a>
                
                          <button class="btn btn-sm btn-outline-danger"
                            [ngClass]="{disabled: isDeleting}"
                            (click)="deleteArticle()">
                            <i class="ion-trash-a"></i> Delete Article
                          </button>
                        </span>

                            <span [hidden]="canModify">
                          <app-follow-button
                            [profile]="article.author"
                            (toggle)="onToggleFollowing($event)">
                          </app-follow-button>
                
                          <app-favorite-button
                            [article]="article"
                            (toggle)="onToggleFavorite($event)">
                            {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{ article.favoritesCount }})</span>
                            </app-favorite-button>
                            </span>

                        </mat-card-subtitle>

                    </mat-card-header>

                    <mat-card-content>
                        <div *ngIf="article.type=='0'" [innerHTML]="article.body | sanitizeHtml"></div>
                        <div *ngIf="article.type=='1'">
                            <div class="col-md-12 col-md-offset-4">

                                <!-- [data]="formValue"  -->
                                <app-view-form [model]="model" [data]="formValue" [slug]="article.slug">

                                </app-view-form>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="card-actions-footer">




                            <div *ngIf="article.tagList && article.tagList.length" class="card-actions-left">
                                <mat-chip-list>
                                    <mat-chip *ngFor="let tag of article.tagList"> {{ tag }}</mat-chip>
                                </mat-chip-list>
                            </div>




                            <div class="card-actions-right">
                                <button shareButton="facebook">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </button>

                                <button shareButton="linkedin" [description]="article.description">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </button>
                                <button shareButton="twitter" [description]="article.description">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </button>

                                <button [hidden]="deviceService.isDesktop()" shareButton="whatsapp" [description]="article.description">
                                <i class="fab fa-whatsapp-square fa-2x"></i>
                            </button>
                            </div>

                        </div>

                    </mat-card-actions>
                </mat-card>


            </div>

            <div class="col-md-3">

            </div>

        </div>


        <div class="article-actions">

            <app-article-meta [article]="article">

                <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Edit Article
          </a>

          <button class="btn btn-sm btn-outline-danger"
            [ngClass]="{disabled: isDeleting}"
            (click)="deleteArticle()">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>

                <span [hidden]="canModify">
          <app-follow-button
            [profile]="article.author"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <app-favorite-button
            [article]="article"
            (toggle)="onToggleFavorite($event)">
            {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{ article.favoritesCount }})</span>
                </app-favorite-button>
                </span>

            </app-article-meta>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">

                <div *appShowAuthed="true">
                    <app-list-errors [errors]="commentFormErrors"></app-list-errors>
                    <form class="card comment-form" (ngSubmit)="addComment()">
                        <fieldset [disabled]="isSubmitting">
                            <div class="card-block">
                                <textarea class="form-control" placeholder="Write a comment..." rows="3" [formControl]="commentControl"></textarea>
                            </div>
                            <div class="card-footer">
                                <img [src]="currentUser.profile.image" class="comment-author-img" />
                                <button class="btn btn-sm" mat-raised-button color="primary"  type="submit">
                 Post Comment
                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div *appShowAuthed="false">
                    <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.
                </div>

                <app-article-comment *ngFor="let comment of comments" [comment]="comment" (deleteComment)="onDeleteComment(comment)">
                </app-article-comment>

            </div>
        </div>

    </div>
</div>


<app-scroll-top [acceleration]="2" [animate]="true" [scrollDistance]="50" [speed]="50">
</app-scroll-top>