.profile-picture {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 150px;
    background-image: url(./../../../../assets/images/profile-placeholder.png);
    background-size: contain;
    border-radius: 1em;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 2;
    border-radius: 1em;
}

.profile-picture label {
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 3;
}

.profile-picture .drag-over .infotext {
    color: white;
    border: dashed 5px white;
}

.profile-picture .infotext {
    margin-left: 5px;
    margin-top: 5px;
    height: 150px;
    width: 150px;
    vertical-align: middle;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    cursor: pointer;
}