<!-- <div [ngClass]="selectedTheme">
    <router-outlet></router-outlet>
</div> -->


<mat-sidenav-container [ngClass]="selectedTheme">
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <!--in here all the content must reside. We will add a navigation header as well-->

        <!-- <ng-progress #progressBar ></ng-progress> -->
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <app-progress-bar-loader></app-progress-bar-loader>

        <div [hidden]="!loading" class="loader">
            <h2>Loading...</h2>
           
          </div>

        <div [hidden]="loading" class="router-output">
      <router-outlet></router-outlet>
    </div>

        <footer>
            <div class="footer" style="bottom: 0">
                <a class="logo-font" routerLink="/">Intializer</a>
                <span class="attribution">
                &copy; {{ today | date: 'yyyy' }}.
                First Intializer blog  <a routerLink="/information">About us</a>
              </span>
            </div>
        </footer>

    </mat-sidenav-content>
</mat-sidenav-container>