<svg
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 12 12"
  version="1.1">
  <circle
    r="6"
    cy="6.0000005"
    cx="6"
    style="fill:currentColor" />
  <path
    d="M 5.999999,6.9201403 V 2.85834"
    style="fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;" />
  <circle
    r="0.75"
    cy="9.1523428"
    cx="6"
    style="opacity:1;fill:#ffffff;" />
</svg>
