// Our own colors
$color-darkgrey: linear-gradient(45deg, #000, #0f4983);
$color-grey: #aaaaaa;
$color-lightergrey: #f0f0f0;
$color-lightgrey: #dedede;
$color-grey-icon: #727272;
$color-hover: rgba(0, 0, 0, 0.05);
$color-selected: rgba(0, 0, 0, 0.08);
// Font sizes
$fontsize-normal: 14px;
$fontsize-large: 18px;
// Sizes
$titlebar-height: 40px;