.avatar {
    border-radius: 50%;
    max-width: 53px;
    transform: scale(0.95);
    transition: all .5s;
    cursor: pointer;
}

.avatar:hover {
    transform: scale(1);
    box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.2);
}